@import "variables.scss";

.page__app {
    padding: 0 20px;
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 1200px;
    position: relative;
    text-align: center;
}
.right-side {
    max-width: 600px;
    text-align: left;
    
}
.app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    


    // .app__title

    &__title {
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 64px;
        text-align: center;
        font-size: 38px;
        line-height: 57px;
    }

    // .app__text

    &__text {
        font-size: 12.3px;
        line-height: 24px;
        color: $dark-gray;
        margin-bottom: 16px;
    }

    // .app__link

    &__link {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 12.8px;
        color: #fff;
    }

    &__img {
        position: absolute;
        left: 890px;
        top: 230px;
    }
}
.btn {

    // .btn__app

    &__app {
        background: $red;
        border: 1px solid $red;
        border-radius: 32px;
        padding: 16px 40px;
    }
}

@media (max-width: 1220px) {
    .page__app {
        overflow: hidden;
        padding: 0 20px;
        margin: 0;
        padding-top: 100px;
        margin-bottom: 100px;
    }

    .app {
        flex-direction: column;

        &__img {
            left: 690px;
        }
    }
}

@media (max-width: 650px) {
    .app {

        &__title {
            margin-bottom: 16.5px;
        }

        &__img {
            position: static;
        }

        &__text {
            font-size: 16px;
        }
    }
}
