@import "variables.scss";

.page__news .content {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1200px;
}

.news {

    &__title {
        margin-bottom: 48px;
    }
    // .news__item

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        text-align: left;
    }

    &__item-2 {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        gap: 50px;
        text-align: left;
        margin-top: 65px;
    }

    // .news__img
    &__left-part {
        max-width: 575px;
    }

    &__right-part {
        max-width: 575px;
    }

    &__img {
        display: block;
        max-width: 575px;
        max-height: 286px;
    }

    &__album-name {
        margin: 0;
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 45px;
        font-weight: 400;
    }
    // .news__body

    &__body {
        font-size: 16px;
        line-height: 24px;
        color: $dark-gray;
    }

    // .news__footer

    &__footer {
        display: flex;
        flex-direction: column;
    }

    // .news__author

    &__author {
        margin: 0;
        margin-top: 24px;
        margin-bottom: 48px;
        display: inline-flex;
        font-size: 12px;
        gap: 16px;
    }
}
.user {

    // .user__avatar

    &__avatar {
        height: 19px;
        width: 19px;
        margin: 0;
        //margin-right: 16px;
    }

    // .user__name

    &__name {
        //font-size: 12px;
        line-height: 19px;
        text-transform: uppercase;
        color: $orange;
    }
}

.btn {

    // .btn__pricing

    &__news {
        width: fit-content;
        padding: 16px 30px;
        background: none;
        border: 2px solid #fff;
    }
}
.album {

    // .album__link

    &__link {
        text-decoration: none;
        color: #fff;
    }
}

@media (max-width: 1200px) {
    .page__news .content {
        width: 100%;
        margin: 0 20px;
    }
    .news {

        &__item {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }

        &__item-2 {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }
    }
}

@media (max-width: 650px) {
    .news {
        &__album-name {
            margin-bottom: 16px;
            font-size: 16px;
        }
    }
}