@import "variables";

.page-similar .content {
    margin: 100px auto;
    text-align: left;
}

.similar {

		// .similar__title

		&__title {
            font-size: 38px;
            margin-bottom: 48px;
		}

		// .similar__artists

		&__artists {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 25px 50px;
		}

		// .similar__artist

		&__artist {
            width: 250px;
            text-align: center;
		}

		// .similar__artist-img

		&__artist-img {
            border-radius: 50%;
            height: 250px;
            width: 250px;
		}

		// .similar__artist-name

		&__artist-name {
            margin: 0;
            margin-top: 18px;
            font-size: 18px;
            font-weight: 700;
		}

		// .similar__artist-subs

		&__artist-subs {
            font-size: 16px;
            color: $gray;
		}
}

@media (max-width: 1220px) {
    .page-similar {
        padding: 0 20px;
    }
}

@media (max-width: 650px) {
    .similar {

        &__title {
            margin: 0;
            font-size: 18px;
        }

        &__artist {
            width: 137px;
        }

        &__artist-img {
            height: 137px;
            width: 137px;
        }
    }
}